{include file="mobile/_header"}
<div class="page">
        <div class="page__bd page__bd_spacing">
            <a href="javascript:;" class="weui-btn weui-btn_default" id="showIOSActionSheet">首页</a>
        </div>
        {volist name="rooms_status_today" id="room_status_today"}
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__btn">{$room_status_today.name}</label>
                    </div>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">客人退房</label>
                        {if condition="$room_status_today.e_order"}
                            <span class="weui-form-preview__btn_primary">是</span>
                            <span class="weui-form-preview__btn_primary">查看订单</span>
                        {else /}
                            <span class="weui-form-preview__value">否</span>
                        {/if}
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">客人入住</label>
                        {if condition="$room_status_today.b_order"}
                            <span class="weui-form-preview__btn_primary">是</span>
                            <span class="weui-form-preview__btn_primary">查看订单</span>
                        {else /}
                            <span class="weui-form-preview__value">否</span>
                        {/if}
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">客人居住中</label>
                        {if condition="$room_status_today.c_order"}
                            <span class="weui-form-preview__btn_primary">是</span>
                            <span class="weui-form-preview__btn_primary">查看订单</span>
                        {else /}
                            <span class="weui-form-preview__value">否</span>
                        {/if}
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">需要打扫</label>
                        {if condition="$room_status_today.e_order"}
                            <span class="weui-form-preview__btn_primary">是</span>
                        {else /}
                            <span class="weui-form-preview__value">否</span>
                        {/if}
                    </div>
                </div>
            </div>
            <br>
        {/volist}
        
        <div>
            <div class="weui-mask" id="iosMask" style="display: none"></div>
            <div class="weui-actionsheet" id="iosActionsheet">
                <div class="weui-actionsheet__menu">
                    <div class="weui-actionsheet__cell">
                        <a href="{:url('mobile.index/index')}">首页</a>
                    </div>
                    <div class="weui-actionsheet__cell">
                        <a href="{:url('mobile.order/index')}">订单</a>
                    </div>
                    <div class="weui-actionsheet__cell">房间</div>
                    <div class="weui-actionsheet__cell">统计</div>
                </div>
                <div class="weui-actionsheet__action">
                    <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
                </div>
            </div>
        </div>
    </div>
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript">
        $(function(){
            var $iosActionsheet = $('#iosActionsheet');
            var $iosMask = $('#iosMask');
    
            function hideActionSheet() {
                $iosActionsheet.removeClass('weui-actionsheet_toggle');
                $iosMask.fadeOut(200);
            }
    
            $iosMask.on('click', hideActionSheet);
            $('#iosActionsheetCancel').on('click', hideActionSheet);
            $("#showIOSActionSheet").on("click", function(){
                $iosActionsheet.addClass('weui-actionsheet_toggle');
                $iosMask.fadeIn(200);
            });
        });
    </script>
{include file="mobile/_footer"}