<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<title>民宿管理系统</title>
<meta name="keywords" content="">
<meta name="description" content="">

<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html"/>
<![endif]-->

<link rel="shortcut icon" href="favicon.ico">
<link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="__CSS__/animate.min.css" rel="stylesheet">
<link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img title="{$userInfo.motto}" alt="image" class="img-circle" src="{$userInfo.headimg}" style="width:64px;height:64px;"/></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">{$userInfo.nickname}<b class="caret"></b></strong></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a class="J_menuItem" href="{:url('admin/profile/headedit')}">修改信息</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="{:url('admin/profile/index')}">修改密码</a>
                            </li>
                            <li>
                                <a href="{:url('admin/login/loginOut')}">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        {$userInfo.nickname}
                    </div>
                </li>
                {if !empty($menu)}
                {foreach name="menu" item="vo"}
                <li class="menu">
                    <a href="{$vo.href}">
                        <i class="{$vo.style}"></i>
                        <span class="nav-label">{$vo.node_name} </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        {if !empty($vo['child'])}
                        {foreach name="$vo['child']" item="v"}
                        <li>
                            <a class="J_menuItem" href="{$v.href}">{$v.node_name}</a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </li>
                {/foreach}
                {/if}
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <button class="roll-nav roll-left navbar-minimalize">
                <i class="fa fa-exchange"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight J_tabBack">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="J_tabFresh">
                    <i class="fa fa-repeat"></i>
                </button>
            </div>
            <a href="javascript:void(0)" class="roll-nav roll-right J_tabExit J_tabCloseAll">
                <i class="fa fa-close"></i>
            </a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%"
                    src="{:url('index/init')}" frameborder="0"
                    data-id="index_v1.html" seamless>
            </iframe>
        </div>
        <div class="footer">
            <div class="pull-right">
                <a href="http://www.miitbeian.gov.cn/" target="_blank">@苏ICP备18057727号</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/hplus.min.js?v=4.1.0"></script>
<!--<script type="text/javascript" src="__JS__/contabs.min.js"></script>-->
<script type="text/javascript" src="__JS__/contabs.js"></script>
<script src="__JS__/plugins/pace/pace.min.js"></script>
</body>

</html>
